{% extends 'base.html.twig' %}

{% block title %}Refuge list{% endblock %}

{% block body %}
<h1 class="mb-4">List des refuges</h1>

{% for refuge in refuges %}
<div class="card card-border bg-base-100 w-96 mb-4">
  <div class="card-body">
    <h2 class="card-title">{{ refuge.nom }}</h2>
    <small>{{ refuge.address }}</small>
    <div class="card-actions justify-end">
      <ul>
        <li>date de la première nuit: {{ refuge.reservations[0].dateStart|date('j F Y') }}</li>
        <li>date de la dernière nuit: {{ refuge.reservations[0].dateEnd|date('j F Y') }}</li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
